@font-face {
    font-family: "Young Serif";
    src: url(./fonts/Young/YoungSerif-Regular.woff2) format(woff2);
    font-weight: 400;
}
@font-face {
    font-family: "Outfit";
    src: url(./fonts/Outfit/Outfit-Regular.woff2) format(woff2);
    font-weight: 400;
}
@font-face {
    font-family: "Outfit";
    src: url(./fonts/Outfit/Outfit-SemiBold.woff2) format(woff2);
    font-weight: 600;
}
@font-face {
    font-family: "Outfit";
    src: url(./fonts/Outfit/Outfit-Bold.woff2) format(woff2);
    font-weight: 700;
}

:root {
    --background-card: hsl(0, 0%, 100%);
    --background-color: hsl(30, 54%, 90%);
    --line-color: hsl(30, 18%, 87%);
    --text-color: hsl(30, 10%, 34%);
    --headline-color: hsl(24, 5%, 18%);
    --accent-text: hsl(14, 45%, 36%);
    --text-time: hsl(332, 51%, 32%);
    --background-time: hsl(330, 100%, 98%);
}

ul{
    margin: 0;
    line-height: 2;
}

.ingredients {
    padding: 0 0 24px 18px;
    border-bottom: 1px solid var(--line-color);
    margin-bottom: 24px;
}

.ingredients li::marker {
    color: var(--accent-text);
    font-size: 12px;
}

body {
    background-color: var(--background-color);
    display: grid;
    place-items: center;
    margin: 120px 0;
    font-family: "Outfit", sans-serif;
    color: var(--text-color);
    line-height: 1.5;
}

main {
    background-color: var(--background-card);
    max-width: 650px;
    padding: 40px;
    border-radius: 16px;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

h1 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    color: var(--headline-color);
    font-size: clamp(32px, calc(29px + 1vw), 40px);
    line-height: 1;
}

.time {
    background-color: var(--background-time);
    border-radius: 10px;
    padding:24px;
    margin: 24px 0;
}

.time li::marker {
    color: var(--text-time);
    font-size: 12px;
}

.time ul{
    padding-left: 18px;
}

h2 {
    margin: 0;
    color: var(--text-time);
    font-weight: 600;
}

h3,
h4,
h5 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-size:  clamp(22px, calc(19px + 1vw), 28px);
    color: var(--accent-text);
    margin: 0;
}

ol {
    padding: 0 0 24px 18px;
    border-bottom: 1px solid var(--line-color);
    margin-bottom: 24px;
}

ol li:not(:last-child){
    padding-bottom: 10px;
}

ol li::marker {
    color: var(--accent-text);
    font-family: "Outfit", sans-serif;
    font-weight: 700;
}

table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
    table-layout: fixed;
}

caption {
    text-align: start;
    padding-bottom: 10px;
    text-wrap: wrap;
}

th {
    font-weight: 400;
    padding: 10px 0 10px 30px;
    text-align: start;
}

td {
    color: var(--accent-text);
    font-weight: 700;
}

tr:not(:last-child) {
    border-bottom: 1px solid var(--line-color);
}

@media (max-width: 800px) {
    body{
        margin: 0;
    }
    img {
      display: block;
      width: 100%;
      border-radius: 0;
    }
    main {
    padding: 0;
    border-radius: 0;
    }
    main > :not(:first-child) {
    margin: 20px 40px;
    }
}